@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Signika+Negative:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    border: border-box;
    font-family:'Signika Negative','Poppins';
    color: black;
}

body {
    overflow-x: hidden;
}

header{
    font-family: 'Signika Negative';
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 0.5rem;
    font-size: 11px;
}

h5{
    color: #000;
    font-family: 'Poppins';
    font-weight: 500;
}

/* navbar */
.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 10000;
}

.top-navbar{
    width: 100%;
    height: 7vh;
    background: #E9E2DA;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-icons{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: #1B2141;
    margin-left: 10px;
    cursor: pointer;
}
.other-links{
    margin-right: 33px;
}
.other-links i{
    color: #1B2141;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#btn-login{
    width: 100px;
    border: 2px solid #1B2141;
    color: #E9E2DA;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-login a{
    text-decoration: none;
    color: #1B2141;
    transition: 0.5s ease;
}
#btn-login a:hover{
    background-color: #E9E2DA;
    color: black;
}
#btn-login:hover{
    background-color: #E9E2DA;
    color: black;
}
#btn-signup{
    width: 100px;
    border: 2px solid #1B2141;
    color: #E9E2DA;
    font-weight: bold;
    border-radius: 5px;
    height: 5vh;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn-signup a{
    text-decoration: none;
    color: #1B2141;
    transition: 0.5s ease;
}
#btn-signup a:hover{
    background-color: #E9E2DA;
    color: black;
}
#btn-signup:hover{
    background-color: #E9E2DA;
    color: black;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}

/* logo */
.logo img{
    height: 3.5rem;
    width: 8.5rem;
}

/* nav-lower */
/* navbar */
#navbar{
    background: #1B2141;
    font-size: 19px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: #E9E2DA;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}
#navbar .nav-link:hover{
    color: rgb(221, 221, 118);
    text-decoration: underline;
    border-radius: 5px;
}
.dropdown li a{
    color: white;
}
#search-btn{
    color: #E9E2DA;
    border:  1px solid #E9E2DA;
}
#search-btn:hover{
    background-color: #1B2141;
}



/* section 4- Service-info */
.service-col{
    background-color: #E9E2DA;
    /* border: 1px solid #1B2141; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.service-col i{
    font-size: 3rem;
    padding-left: 3rem;
}


/* section  5- Trending */
.card-wrapper {
    display: flex;
    justify-content: center;
}

.view-btn{
    background-color: #39ea16;
    border: 2px solid #39ea16;
}

.Featured,.new-products, .best-selling{
    background-color: #E9E2DA;
    margin-bottom: 9px;
    margin: 8px;
}

.heading h1{
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(163, 161, 161);
    margin: 10px;
    font-family: 'Signika Negative';
    font-weight: 700;
    color: #1B2141;
}


.card_border{
    border: 2px solid transparent;
}

/* Section 8 advertise */
.banner {
    margin-top: 20px;
    margin-bottom: 20px;
}

.advertise img {
    width: 100%;
    height: 300px;
}


/* section 9 footer */
.site-footer {
    background: #1B2141;
/* background: linear-gradient(180deg, rgba(243,243,243,1) 0%, rgba(72,204,7,1) 56%); */
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #E9E2DA;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

footer p{
    font-size: medium;
    line-height: 20px;
    color: #E9E2DA;
}
.f-img{
    width: 20rem;
}

.site-footer hr {
    border-top-color: #E9E2DA;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #E9E2DA;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #E9E2DA;
}

.site-footer a:hover {
    color: #E9E2DA;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #E9E2DA;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #E9E2DA;
    text-decoration: none;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #E9E2DA;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.logo {
    color: #E9E2DA;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #E9E2DA;
    background-color: #29aafe;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}



/* -------Electronics page ----------- */


/* categoriy */
@media (max-width: 576px) {
    .card {
        width: 100% !important;
        margin: 0.5rem 0;
    }
}

.tc img {
    width: 10rem;
}


.top-card{
      border: 4px solid black;
}

.custom-btn {
    background-color: purple;
    border-color: pink;
    color: white;
}

#btn-login{
    background-color: white;
    color: #1B2141;
}

#btn-login:hover{
    transform: scale(1.1);
}

#user-controls{
    transition: all;
    transition-duration: 0.5s;
}

#user-controls:hover{
    transform: scale(1.1);
}

.card{
    transition: all;
    transition-duration: 1s;
}

.card:hover{
    /* border: 2px solid #E9E2DA; */
    transform: scale(1.02);
    border: 2px solid #1B2141;
    cursor: pointer;
}

/* description */
.description p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1B2141;
    line-height: 1.6
}

/* cart */
.cart button {
    background-color: #E9E2DA;
    color: #1B2141;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-family: 'Signika Negative', 'Poppins';
    font-weight: 700;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #1B2141;
    box-shadow: 4px 8px 13px 0 rgba(0, 0, 0, 0.2), 4px 10px 25px 4px rgba(0, 0, 0, 0.19);
    transition: all;
    transition-duration: 1s;
}

.cart button:hover {
    background-color: #1B2141;
    color: #E9E2DA;
    padding:15px 80px;
}

span {
    font-size: 18px;
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

label.radio .red {
    background-color: rgb(67, 124, 216);
    border-color: rgb(67, 124, 216)
}

label.radio .blue {
    background-color: black;
    border-color: black
}

label.radio .green {
    background-color: pink;
    border-color: pink
}


label.radio input:checked+span {
    color: #fff;
    position: relative
}

label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}
/* storage - radio  */
label.storage-radio {
    cursor: pointer
}

label.storage-radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.storage-radio span {
    padding: 2px 9px;
    border: 2px solid #1B2141;
    display: inline-block;
    color: #1B2141;
    border-radius: 3px;
    text-transform: uppercase
}

label.storage-radio input:checked+span {
    border-color: #1B2141;
    background-color: #1B2141;
    color: #fff
}

.sku-storage{
    padding: 2px 9px;
    border: 2px solid #1B2141;
    display: inline-block;
    color: #1B2141;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: transparent;
    width: 30%;
}

.sku-storage:hover{
    background-color: #1B2141;
    color: white;
}

/* single */
.single,
.single h2,
.single h3,
.single p,
.single li {
    font-family: 'Signika Negative', 'Poppins';
    color: #1B2141;
}

.single h2,
.single h3 {
    font-weight: 700;
}

.single p,
.single li {
    font-weight: 300;
}

.single img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single,
.small-img {
    background-color: #E9E2DA;
}



/* for filter of search */


/* ---------- Filter ---------- */
.mobile-product {
    font-family: 'Signika Negative', 'Poppins';
    color: #1B2141;
    background-color: #E9E2DA;
    padding-top: 1rem;
}
.filter, .fil{
    text-align: start;  
    background-color: #E9E2DA; 
}

.filter-icon {
    display: none; /* Initially hide the filter icon */
    cursor: pointer;
}

.filter span{
    text-decoration: none;
}

.filter .card-img-top{
    max-height: 50%;
}

.colum2{
    justify-content: space-evenly;
}

.custom-btn {
    width: 100%;
    padding: 10px 15px;
    background-color: #1B2141;
    color: #E9E2DA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

}

.custom-btn:hover {
    background-color: #E9E2DA;
    color: #1B2141;
}

.filter-list:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sticky-container{
    position: sticky;
    top: 0;
}

.filter-icon-fw{
    position: sticky;
    top: 25vh;
    z-index: 10000;
}

.filter-medium{
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 10000;
    height: 100vh;
}

.fixed-height-card{
    height: auto;
}